force-app/main/default/flows/Maint_Web_Chat_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_to_Maintenance</name>
        <label>Route to Maintenance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value><elementReference>recordId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value><stringValue>Messaging</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value><stringValue>sfdc_livemessage</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value><stringValue>Copilot</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value><stringValue>Kwitko Chat Fallback</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
            <value><stringValue>Maintenance Concierge Web</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
            <value>
                <setupReference>Maintenance_Concierge_Web</setupReference>
                <setupReferenceType>BotDefinition</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value><stringValue>00Gfj00000BggEDEAZ</stringValue></value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Maint Web Chat Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maint Web Chat Routing</label>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <name>Set_Identity_On_Session</name>
        <label>Set Identity On Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Route_to_Maintenance</targetReference></connector>
        <inputAssignments>
            <field>Kwitko_Logged_In_Email__c</field>
            <value><elementReference>loggedInEmail</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Kwitko_Logged_In_First_Name__c</field>
            <value><elementReference>loggedInFirstName</elementReference></value>
        </inputAssignments>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Set_Identity_On_Session</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loggedInEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loggedInFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
