force-app/main/default/flows/Manage_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Amend</name>
        <label>Do Amend</label>
        <locationX>460</locationX>
        <locationY>150</locationY>
        <actionName>SubAmend</actionName>
        <actionType>apex</actionType>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <inputParameters>
            <name>subscriptionId</name>
            <value><elementReference>recordId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>newQuantity</name>
            <value><elementReference>newQuantity</elementReference></value>
        </inputParameters>
        <connector><targetReference>ShowAmend</targetReference></connector>
    </actionCalls>
    <actionCalls>
        <name>Do_Cancel</name>
        <label>Do Cancel</label>
        <locationX>460</locationX>
        <locationY>250</locationY>
        <actionName>SubCancel</actionName>
        <actionType>apex</actionType>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <inputParameters>
            <name>subscriptionId</name>
            <value><elementReference>recordId</elementReference></value>
        </inputParameters>
        <connector><targetReference>ShowCancel</targetReference></connector>
    </actionCalls>
    <actionCalls>
        <name>Do_Renew</name>
        <label>Do Renew</label>
        <locationX>460</locationX>
        <locationY>50</locationY>
        <actionName>SubRenew</actionName>
        <actionType>apex</actionType>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <inputParameters>
            <name>subscriptionId</name>
            <value><elementReference>recordId</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>termMonths</name>
            <value><elementReference>termMonths</elementReference></value>
        </inputParameters>
        <connector><targetReference>ShowRenew</targetReference></connector>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>cAmend</name>
        <choiceText>Change seats (amend)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Amend</stringValue></value>
    </choices>
    <choices>
        <name>cCancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Cancel</stringValue></value>
    </choices>
    <choices>
        <name>cRenew</name>
        <choiceText>Renew</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Renew</stringValue></value>
    </choices>
    <decisions>
        <name>RouteAction</name>
        <label>Route Action</label>
        <locationX>320</locationX>
        <locationY>150</locationY>
        <defaultConnector><targetReference>Do_Cancel</targetReference></defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>IsRenew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Renew</stringValue></rightValue>
            </conditions>
            <connector><targetReference>Do_Renew</targetReference></connector>
            <label>Renew</label>
        </rules>
        <rules>
            <name>IsAmend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Amend</stringValue></rightValue>
            </conditions>
            <connector><targetReference>Do_Amend</targetReference></connector>
            <label>Amend</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Manage Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Subscription</label>
    <processType>Flow</processType>
    <screens>
        <name>ChooseAction</name>
        <label>Manage Subscription</label>
        <locationX>180</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>RouteAction</targetReference></connector>
        <fields>
            <name>action</name>
            <choiceReferences>cRenew</choiceReferences>
            <choiceReferences>cAmend</choiceReferences>
            <choiceReferences>cCancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newQuantity</name>
            <dataType>Number</dataType>
            <fieldText>New quantity (for a seat change)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>termMonths</name>
            <dataType>Number</dataType>
            <fieldText>Renewal term in months (default 12)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>ShowAmend</name>
        <label>Updated</label>
        <locationX>600</locationX>
        <locationY>150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>amendMsg</name>
            <fieldText>&lt;p&gt;{!Do_Amend.summary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ShowCancel</name>
        <label>Cancelled</label>
        <locationX>600</locationX>
        <locationY>250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cancelMsg</name>
            <fieldText>&lt;p&gt;{!Do_Cancel.summary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ShowRenew</name>
        <label>Renewed</label>
        <locationX>600</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>renewMsg</name>
            <fieldText>&lt;p&gt;{!Do_Renew.summary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector><targetReference>ChooseAction</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
