force-app/main/default/flows/Sync_Product_to_WooCommerce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <actionCalls>
        <name>Push_to_WooCommerce</name>
        <label>Push to WooCommerce</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>WooProductSync</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WooProductSync</nameSegment>
    </actionCalls>
    <decisions>
        <name>Business_Field_Changed</name>
        <label>Business Field Changed?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsActive</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Description</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_to_WooCommerce</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Product to WooCommerce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Product to WooCommerce</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Business_Field_Changed</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
